<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="mail" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>username</username>
        <password>password</password>
        <from>from@from.com</from>
        <to>to@to.com</to>
        <subject>subject</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARNING</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="mail"/>
    </root>
</configuration>